<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'SoulG/css/juegos.css'%}"
<div>
    <p>
        <center><a href="{% url 'index' %}" class="titulo">
            <img src="{% static 'SoulG/img/sg.png'%}" width="100gtpx" height="100px" alt="Logo ps"> 
        </a></center> 
    </p>    
</div>
<div>
    <a href="{% url 'Aventura' %}" class="nav-enlace">Aventura</a>
    <a href="{% url 'Combate' %}"class="nav-enlace">Combate</a>
    <a href="{% url 'Deporte' %}"class="nav-enlace">Deporte</a>
    <a href="{% url 'Rol' %}"class="nav-enlace">Rol</a>
    <a href="{% url 'Terror' %}"class="nav-enlace">Terror</a>
    <a href="{% url 'Registro' %}"class="nav-enlace">Registro</a>
    <a href="{% url 'Inicio_Session' %}"class=nav-enlace>Inicio Sesion</a>
    <a href="{% url 'Carrito' %}"class=nav-enlace>Carrito</a>
</div>
</head>
<body>
    <div class="ASM">
        <h1>Assassin's Creed Mirage</h1>
        <p><img src="{% static 'SoulG/img/ASM.png'%}" width="400gtpx" height="200px"></p>
        <p> Descubre una aventura de acción con una narrativa bien hilada que sigue los pasos de un joven desafiante a medida que se convierte en un Maestro Assassin con un destino conflictivo. Conoce a los personajes que marcarán el destino de Basim y que podrían ser algo más de lo que aparentan...</p> 
    </div>
</body>
<footer>
    <p>@derechos reservados</p>
</footer>
</html>