<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    <link rel="stylesheet" href="css/Juegos.css">


<div>
    <p>
        <center><a href="Index.html" class="titulo"><img src="imagenes/sg.png" width="100gtpx" height="100px" alt="Logo ps">  </a></center> 
    </p>    
</div>
<div>
    <a href="Aventura.html" class="nav-enlace">Aventura</a>
    <a href="Combate.html"class="nav-enlace">Combate</a>
    <a href="deporte.html"class="nav-enlace">Deporte</a>
    <a href="Rol.html"class="nav-enlace">Rol</a>
    <a href="Terror.html"class="nav-enlace">Terror</a>
    <a href="Registro.html"class="nav-enlace">Registro</a>
    <a href="Iniciosesion.html"class=nav-enlace>Inicio Sesion</a>
    <a href="Carrito.html"class=nav-enlace>Carrito</a>
    
</div>
</head>



<body>
    <div class="Infinitum">
        <h1>Ad Infinitum</h1>
        <p><img src="imagenes/Ad Infinitum.jpg" width="400gtpx" height="300px"></p>
        <p> Ad Infinitum es un videojuego de terror y supervivencia en primera persona que insta a vivir los horrores propios y de la Primera Guerra Mundial como un soldado alemán. 
            Criaturas terribles, trampas mortales y misterios insanos marcan el camino a través del campo de batalla del protagonista, 
            teniendo que superarlos para salvar su alma y descubrir el velo con las verdades más siniestras.</p> 
    </div>
</body>




<footer>
    <p>@derechos reservados</p>
</footer>




</html>