<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/Juegos.css">
<div>
    <p>
        <center><a href="Index.html" class="titulo"><img src="imagenes/sg.png" width="100gtpx" height="100px" alt="Logo ps">  </a></center> 
    </p>    
</div>
<div>
    <a href="Aventura.html" class="nav-enlace">Aventura</a>
    <a href="Combate.html"class="nav-enlace">Combate</a>
    <a href="deporte.html"class="nav-enlace">Deporte</a>
    <a href="Rol.html"class="nav-enlace">Rol</a>
    <a href="Terror.html"class="nav-enlace">Terror</a>
    <a href="Registro.html"class="nav-enlace">Registro</a>
    <a href="Iniciosesion.html"class=nav-enlace>Inicio Sesion</a>
    <a href="Carrito.html"class=nav-enlace>Carrito</a>
    
</div>
</head>
<body>
    <div class="Diablo">
        <h1>Diablo IV</h1>
        <p><img src="imagenes/diablo.jpg" width="400gtpx" height="300px"></p>
        <p> Diablo 4 es la cuarta entrega de la saga de rol y acción de Blizzard que vuelve a hacer énfasis en la construcción de un héroe más efectivo en la guerra contra los 
            demonios a base de conseguir botín y botín. En concreto, los responsables de este Diablo IV apuestan por ofrecer a los jugadores nuevas características infernales, 
            desafíos brutales,  y un indiscutible retorno a la oscuridad en el que se puede escoger de inicio entre jugar como una hechicera, un bárbaro o un druida.

            El Action-RPG tiene una dirección artística cuidadísima, pero no va a dejar de lado ni por un momento la jugabilidad. De hecho, 
            algunas quejas de los usuarios en cuanto a la serie han tenido que ver con la excesiva dependencia de determinados objetos, por ejemplo los legendarios, 
            con lo cual en este cuarto episodio de Diablo van a tratar de dar más peso a las decisiones y a las posibles configuraciones. Hay, además, 
            cambios importantes en el sistema de habilidades y talentos, con intención de ofrecer algo más profundo.</p> 
    </div>
</body>




<footer>
    <p>@derechos reservados</p>
</footer>




</html>