<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'SoulG/css/juegos.css'%}"
<div>
    <p>
        <center><a href="{% url 'index' %}" class="titulo">
            <img src="{% static 'SoulG/img/sg.png'%}" width="100gtpx" height="100px" alt="Logo ps"> 
        </a></center> 
    </p>    
</div>
<div>
    <a href="{% url 'Aventura' %}" class="nav-enlace">Aventura</a>
    <a href="{% url 'Combate' %}"class="nav-enlace">Combate</a>
    <a href="{% url 'Deporte' %}"class="nav-enlace">Deporte</a>
    <a href="{% url 'Rol' %}"class="nav-enlace">Rol</a>
    <a href="{% url 'Terror' %}"class="nav-enlace">Terror</a>
    <a href="{% url 'Registro' %}"class="nav-enlace">Registro</a>
    <a href="{% url 'Inicio_Session' %}"class=nav-enlace>Inicio Sesion</a>
    <a href="{% url 'Carrito' %}"class=nav-enlace>Carrito</a>
    
</div>
</head>
<body>
    <div class="Easport">
        <h1>EA Sports FC</h1>
        <p><img src="{% static 'SoulG/img/ea fc.jpg'%}" width="400gtpx" height="300px"></p>
        <p> EA Sports FC es la primera entrega en una nueva era de simulación de fútbol en EA Sports, autores durante cerca de 30 años de la serie FIFA. Llegará en la segunda mitad del 2023,y de momento no hay muchos detalles sobre la propuesta, 
            pero el equipo norteamericano garantiza un videojuego donde no falte nada de lo que ha hecho grande a FIFA en los últimos tiempos, incluidos modos, ligas, torneos, clubes y deportistas. 
            Así, están de vuelta Ultimate Team, modo Carrera,
             Clubes Pro y VOLTA Football, además de un listado de más de 19.000 jugadores, 700 equipos, 100 estadios y hasta 30 ligas.</p> 
    </div>
</body>
<footer>
    <p>@derechos reservados</p>
</footer>
</html>