<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'SoulG/css/index.css'%}">
    
<div>
    <p>
        <center><a href="{% url 'index' %}" class="titulo">
            <img src="{% static 'SoulG/img/sg.png'%}" width="100gtpx" height="100px" alt="Logo ps"> 
        </a></center> 
    </p>    
</div>
<div>
    <a href="{% url 'Aventura' %}" class="nav-enlace">Aventura</a>
    <a href="{% url 'Combate' %}"class="nav-enlace">Combate</a>
    <a href="{% url 'Deporte' %}"class="nav-enlace">Deporte</a>
    <a href="{% url 'Rol' %}"class="nav-enlace">Rol</a>
    <a href="{% url 'Terror' %}"class="nav-enlace">Terror</a>
    <a href="{% url 'Registro' %}"class="nav-enlace">Registro</a>
    <a href="{% url 'Inicio_Session' %}"class=nav-enlace>Inicio Sesion</a>
    <a href="{% url 'Carrito' %}"class=nav-enlace>Carrito</a>
    
</div>
</head>
<body>
            
<center><div class="banner">
    <p>
    <a href=""> <img src="{% static 'SoulG/img/test.png'%}" alt="banner">
    </a>

    </p>
</div>


</center>



    <center><div class="diablo">
        
        <p>
          <a href="{% url 'Diablo' %}">  <img src="{% static 'SoulG/img/diablo.jpg'%}" alt="Diablo"></a>
        </p>
        
    </div>
</center>




<center><div class="ac">
        <p>
            <a href="{% url 'AcM' %}"><img src="{% static 'SoulG/img/ASM.png'%}" alt="ac"></a>
        </p>
    </div>

</center>

    
</body>
<footer>
    <p>@derechos reservados</p>
</footer>
</html>
