<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    <link rel="stylesheet" href="css/Juegos.css">


<div>
    <p>
        <center><a href="Index.html" class="titulo"><img src="imagenes/sg.png" width="100gtpx" height="100px" alt="Logo ps">  </a></center> 
    </p>    
</div>
<div>
    <a href="Aventura.html" class="nav-enlace">Aventura</a>
    <a href="Combate.html"class="nav-enlace">Combate</a>
    <a href="deporte.html"class="nav-enlace">Deporte</a>
    <a href="Rol.html"class="nav-enlace">Rol</a>
    <a href="Terror.html"class="nav-enlace">Terror</a>
    <a href="Registro.html"class="nav-enlace">Registro</a>
    <a href="Iniciosesion.html"class=nav-enlace>Inicio Sesion</a>
    <a href="Carrito.html"class=nav-enlace>Carrito</a>
    
</div>
</head>



<body>
    <div class="RE4">
        <h1>Resident Evil 4: Remake</h1>
        <p><img src="imagenes/Resident Evil 4.jpg" width="400gtpx" height="300px"></p>
        <p> Resident Evil 4: Remake trae de vuelta el survival-horror de Capcom en un desarrollo para PC, PS5, PS4 y Xbox Series X|S que conserva la esencia del videojuego original,
             a la vez que introduce mecánicas de juego actualizadas, una historia reimaginada y gráficos de última generación que lo convierten en la experiencia de supervivencia y terror 
             definitiva en la cual se cruzan la vida y la muerte, el terror y la catarsis. Se trata de una revisión de uno de los videojuegos más importantes de la historia para el género
              de acción, y un título que supone un antes y un después para este tipo de lanzamientos.</p> 
    </div>
</body>




<footer>
    <p>@derechos reservados</p>
</footer>




</html>