<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'SoulG/css/juegos.css'%}"
<div>
    <p>
        <center><a href="{% url 'index' %}" class="titulo">
            <img src="{% static 'SoulG/img/sg.png'%}" width="100gtpx" height="100px" alt="Logo ps"> 
        </a></center> 
    </p>    
</div>
<div>
    <a href="{% url 'Aventura' %}" class="nav-enlace">Aventura</a>
    <a href="{% url 'Combate' %}"class="nav-enlace">Combate</a>
    <a href="{% url 'Deporte' %}"class="nav-enlace">Deporte</a>
    <a href="{% url 'Rol' %}"class="nav-enlace">Rol</a>
    <a href="{% url 'Terror' %}"class="nav-enlace">Terror</a>
    <a href="{% url 'Registro' %}"class="nav-enlace">Registro</a>
    <a href="{% url 'Inicio_Session' %}"class=nav-enlace>Inicio Sesion</a>
    <a href="{% url 'Carrito' %}"class=nav-enlace>Carrito</a>
    
</div>
</head>


<body>
    <div class="RE4">
        <h1>Resident Evil 4: Remake</h1>
        <p><img src="{% static 'SoulG/img/Resident Evil 4.jpg'%}" width="400gtpx" height="300px"></p>
        <p> Resident Evil 4: Remake trae de vuelta el survival-horror de Capcom en un desarrollo para PC, PS5, PS4 y Xbox Series X|S que conserva la esencia del videojuego original,
             a la vez que introduce mecánicas de juego actualizadas, una historia reimaginada y gráficos de última generación que lo convierten en la experiencia de supervivencia y terror 
             definitiva en la cual se cruzan la vida y la muerte, el terror y la catarsis. Se trata de una revisión de uno de los videojuegos más importantes de la historia para el género
              de acción, y un título que supone un antes y un después para este tipo de lanzamientos.</p> 
    </div>
</body>




<footer>
    <p>@derechos reservados</p>
</footer>




</html>