<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'SoulG/css/Registro.css'%}">
    <script src="{% static 'SoulG/js/recontraseña.js'%}"></script>
    <div>
        <p>
            <center><a href="{% url 'index' %}" class="titulo">
                <img src="{% static 'SoulG/img/sg.png'%}" width="100gtpx" height="100px" alt="Logo ps"> 
            </a></center> 
        </p>    
    </div>
    <div>
        <a href="{% url 'Aventura' %}" class="nav-enlace">Aventura</a>
        <a href="{% url 'Combate' %}"class="nav-enlace">Combate</a>
        <a href="{% url 'Deporte' %}"class="nav-enlace">Deporte</a>
        <a href="{% url 'Rol' %}"class="nav-enlace">Rol</a>
        <a href="{% url 'Terror' %}"class="nav-enlace">Terror</a>
        <a href="{% url 'Registro' %}"class="nav-enlace">Registro</a>
        <a href="{% url 'Inicio_Session' %}"class=nav-enlace>Inicio Sesion</a>
        <a href="{% url 'Carrito' %}"class=nav-enlace>Carrito</a>
        
    </div>

</head>
<body>
    <p>
    <form id="form_registro" class="form_registro">
        <label for="control">Nombre Completo</label>
        <input type="text" id="nombre completo" name="nombre completo" placeholder="Nombre Completo"required>

        <label for="control">Usuario</label>
        <input type="text" id="Usuario" name="Usuario" placeholder="Usuario"required>

        <label for="control">Correo Electronico</label>
        <input type="email" id="email" name="email" placeholder= "email" required>

        <label for="control">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Contraseña"required>

        <label for="control">Repita Contraseña</label>
        <input type="password" id="password2" name="password2" placeholder="Repita Contraseña"required>

        <label for="control">Direccion</label>
        <input type="text" id="Direccion" name="Direccion" placeholder="Direccion" required>

        <button type="submit" id="boton" >Enviar</button>
        <button type="reset" id="limpiar">limpiar</button>
    </form>
</p>
</body>

<footer>
    <p>@derechos reservados</p>
</footer>
</html>
