<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'SoulG/css/juegos.css'%}"
<div>
    <p>
        <center><a href="{% url 'index' %}" class="titulo">
            <img src="{% static 'SoulG/img/sg.png'%}" width="100gtpx" height="100px" alt="Logo ps"> 
        </a></center> 
    </p>    
</div>
<div>
    <a href="{% url 'Aventura' %}" class="nav-enlace">Aventura</a>
    <a href="{% url 'Combate' %}"class="nav-enlace">Combate</a>
    <a href="{% url 'Deporte' %}"class="nav-enlace">Deporte</a>
    <a href="{% url 'Rol' %}"class="nav-enlace">Rol</a>
    <a href="{% url 'Terror' %}"class="nav-enlace">Terror</a>
    <a href="{% url 'Registro' %}"class="nav-enlace">Registro</a>
    <a href="{% url 'Inicio_Session' %}"class=nav-enlace>Inicio Sesion</a>
    <a href="{% url 'Carrito' %}"class=nav-enlace>Carrito</a>
    
</div>
</head>
<body>
    <div class="Session">
        <h1>Session</h1>
        <p><img src="{% static 'SoulG/img/session.jpg'%}" width="400gtpx" height="300px"></p>
        <p> Session es un videojuego de skateboarding destinado a mostrar el deporte con amplia autenticidad. 
            Tomando como referencia grandes clásicos del género como Skate, esta propuesta permite desarrollar libremente diferentes trucos para, después, 
            compartirlos con la comunidad mediante la edición de vídeo. 
            Así, Session busca premiar la creatividad, trabajo duro y perserverancia de los usuarios en sus elaboraciones..</p> 
    </div>
</body>
<footer>
    <p>@derechos reservados</p>
</footer>
</html>