<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>SoulGames</TITLE>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/Juegos.css">
<div>
    <p>
        <center><a href="Index.html" class="titulo"><img src="imagenes/sg.png" width="100gtpx" height="100px" alt="Logo ps">  </a></center> 
    </p>    
</div>
<div>
    <a href="Aventura.html" class="nav-enlace">Aventura</a>
    <a href="Combate.html"class="nav-enlace">Combate</a>
    <a href="deporte.html"class="nav-enlace">Deporte</a>
    <a href="Rol.html"class="nav-enlace">Rol</a>
    <a href="Terror.html"class="nav-enlace">Terror</a>
    <a href="Registro.html"class="nav-enlace">Registro</a>
    <a href="Iniciosesion.html"class=nav-enlace>Inicio Sesion</a>
    <a href="Carrito.html"class=nav-enlace>Carrito</a>   
</div>
</head>
<body>
    <div class="Jedi">
        <h1>Star Wars Jedi: Fallen Order</h1>
        <p><img src="imagenes/stjedi.jpg" width="400gtpx" height="200px"></p>
        <p> Imperio quiere erradicar a todos los Jedi tras la ejecución de la Orden 66. Tú, un padawan ahora convertido en fugitivo, deberás luchar por sobrevivir mientras exploras los misterios de una civilización que se extinguió hace años, con la esperanza de reconstruir la Orden Jedi.</p> 
    </div>
</body>
<footer>
    <p>@derechos reservados</p>
</footer>
</html>